body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Lucida Grande';
  font-style: normal;
  font-weight: normal;
  src: local('Lucida Grande'), url(./fonts/LucidaGrande.ttf) format('woff');
}
@font-face {
  font-family: 'Lucida Grande';
  font-style: normal;
  font-weight: bold;
  src: local('Lucida Grande'), url(./fonts/LucidaGrandeBold.ttf) format('woff');
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.container1 {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Lucida Grande;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #000000;
  margin: 0px;
  margin-bottom: 17px;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

.container1 .checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.jasdnfsdj22-23 .card-header button p {
  margin: 0px;
  margin-left: 7.48px;

  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.06em;

  color: #586069;
}
.jasdnfsdj22-23 .card-header button {
  padding: 0px;
  display: flex;
  align-items: center;
  height: 100%;
}
.jasdnfsdj22-23 > .card > .card-header {
  height: 48px;
  background-color: transparent !important;
  border-bottom: 1px solid #e1e4e8 !important;
}

.bg-dark1 {
  background-color: #b6af9d !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.card {
  border: none !important;
  border-bottom: 1px solid #e1e4e8 !important;
}
.page-link {
  border-color: #b6af9d !important;
  color: #b6af9d !important;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  font-family: Lucida Grande;
}

.page-item.active .page-link,
.page-link:hover {
  background-color: #b6af9d !important;
  color: white !important;
}

tspan {
  font-weight: bold;
  font-size: 9.5px;
  line-height: 11px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: rgba(88, 96, 105, 0.8);
}

.recharts-responsive-container {
  width: 100%;
  height: 100%;
  position: relative;
  left: -20px;
  margin-bottom: 25px;
}
